name: Box Update

on:
#  schedule:
#    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Building binary files
        run: |
          UPX_VER=$(curl -s https://api.github.com/repos/upx/upx/releases/latest |
              grep tag_name |
              cut -d ":" -f2 |
              sed 's/\"//g;s/\,//g;s/\ //g;s/v//' |
              head -n 1)

          curl -Lo upx.tar.xz "https://github.com/upx/upx/releases/download/v$UPX_VER/upx-$UPX_VER-amd64_linux.tar.xz"
          tar -xvf upx.tar.xz
          rm upx.tar.xz
          mv -f upx-$UPX_VER-amd64_linux/upx .
          rm -rf upx-$UPX_VER-amd64_linux/*
          
          SINGBOX_VER=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases |
              grep '"prerelease": true,' -B 10 -m 1 |
              grep tag_name |
              cut -d ":" -f2 |
              sed 's/\"//g;s/\,//g;s/\ //g;s/v//')

          curl -Lo sing-box.tar.gz "https://github.com/SagerNet/sing-box/releases/download/v$SINGBOX_VER/sing-box-$SINGBOX_VER-linux-amd64.tar.gz"
          tar -zxvf sing-box.tar.gz
          mv -f ./sing-box-$SINGBOX_VER-linux-amd64/sing-box tools/sing-box
          rm -rf sing-box.tar.gz
          rm -rf ./sing-box-$SINGBOX_VER-linux-amd64/

          SING_VER=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases |
              grep '"prerelease": false,' -B 10 -m 1 |
              grep tag_name |
              cut -d ":" -f2 |
              sed 's/\"//g;s/\,//g;s/\ //g;s/v//')

          curl -Lo sing-box.tar.gz "https://github.com/SagerNet/sing-box/releases/download/v$SING_VER/sing-box-$SING_VER-linux-amd64.tar.gz"
          tar -zxvf sing-box.tar.gz
          cp -f ./sing-box-$SING_VER-linux-amd64/sing-box tools/CrashCore
          rm sing-box.tar.gz
          rm -rf ./sing-box-$SING_VER-linux-amd64/*

          MIHOMO_VER=$(curl -s https://api.github.com/repos/MetaCubeX/mihomo/releases |
              grep '"prerelease": false,' -B 10 -m 1 |
              grep tag_name |
              grep -oE "v[0-9.]*" |
              head -1)

          curl -Lo mihomo.tar.gz "https://github.com/MetaCubeX/mihomo/releases/download/$MIHOMO_VER/mihomo-linux-amd64-$MIHOMO_VER.gz"
          gzip -vd mihomo.tar.gz
          mv -f mihomo.tar tools/mihomo
          chmod +x tools/mihomo
          rm -rf mihomo-linux-amd64-$MIHOMO_VER

          chmod +x ./upx
          ./upx --best tools/CrashCore
          rm upx
          cd tools
          tar -czvf CrashCore.tar.gz CrashCore
          rm CrashCore.tar.gz



      - uses: MyAlbum/purge-cache@v2
        with:
          token: ${{ github.token }}
          debug: true
      - uses: snnaplab/delete-branch-cache-action@v1.0.0
      - uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 1
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automatic Update Sing-Box

      
